<h1>register</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">name</label>
    <input type="text" id="name" name="name" required [(ngModel)]="register.name">
    <p>error message</p>
  </div>
  <div class="input-group">
    <label for="email">email</label>
    <input type="text" id="email" name="email" required [(ngModel)]="register.email">
    <p>error message</p>
  </div>
  <div class="input-group">
    <label for="password">password</label>
    <input type="password" id="password" name="password" required [(ngModel)]="register.password">
    <p>error message</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
</form>
<hr/>
<h1>propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<input type="text" [value]="name" />
<button (click)="downValue()"> - </button>
<progress [value]="value" max="100"></progress>
<button (click)=upValue()> + </button>
<img width="100" [src]="img" />

<hr/>

<h1>ngClass & ngStyle</h1>

<input type="text" required #nameInput4="ngModel" [(ngModel)]="text" >
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput2.invalid" >
  the message is required
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" >
    <input type="number" [(ngModel)]="box.height" >
    <input type="color" [(ngModel)]="box.background" >
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<hr/>

<h1>class & style</h1>

<input type="text" required #nameInput2="ngModel" [(ngModel)]="text" >
<p class="message-error" [class.invalid]="nameInput2.invalid" >
  the message is required
</p>

<label>name</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="text" >
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">text text text</p>

<div class="styles">
  <div>
    <input type="text" required [(ngModel)]="widthImage" >
  </div>
  <div>
    <img [style.width.px]="widthImage" [src]="img"/>
  </div>
</div>

<hr/>

<h1>ngSwitch</h1>

<input type="text" required [(ngModel)]="text" >
<div [ngSwitch]="text" >
  <p *ngSwitchCase="'name1'">
    the name is {{ text }}
  </p>
  <p *ngSwitchCase="'name2'">
    the name is {{ text }}
  </p>
  <p *ngSwitchDefault>it don't match wiht nobody</p>
</div>

<hr/>

<h1>*ngFor objs</h1>

<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.img">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr/>

<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="newEmogi" >
<button (click)=addEmogi()>add emogi</button>
<ul>
  <li *ngIf="emogis.length === 0">there are no emogis</li>
  <li *ngFor="let emogi of emogis; index as i">
    {{ i }} {{ emogi }}
    <button (click)="deleteEmogi(i)">delete</button>
  </li>
</ul>

<hr/>

<h1>*ngIf</h1>

<input type="text" required [(ngModel)]="text" >
<p *ngIf="text == 'name1' else myBlock">this name is correct</p>
<ng-template #myBlock>
  <p>this name is incorrect</p>
</ng-template>

<hr/>

<input type="text"  required #nameInput="ngModel" [(ngModel)]="text" >
<div class="box" (scroll)="onScroll($event)">
  <p>valid: {{ nameInput.valid}}</p>
  <p>{{text}}</p>
</div>

<hr />
<input type="text" [value]="name" (keyup)="changeText($event)">
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<hr />
<h1>hello worl</h1>
<p>3 + 3 = {{3 + 3}}</p>
<h2>{{name}}</h2>
<img width="100" src={{img}} />
